.group {
  margin-left: .4rem;
  h1 {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 1em;
    font-size: .35rem;
    color: #111;

  }
  ul {

    li {

      position: relative;
      width: 5rem;
      height: 1.55rem;

      img {
        position: absolute;
        left: 0;
        top: .4rem;
      }
      p {
        position: absolute;
        left: .9rem;
        top: 30%;

      }
      i {
        position: absolute;
        right: 0;
        top: 30%;
        color: #ccc;
      }
      span {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

  }
.more{
  position: relative;

  font-size: .25rem;
  border: .01rem solid #fff;
  text-align: center;

  a{
    color: greenyellow;
  }
}
}