html {
  font-size: 100px;
}

.clearfix {
  overflow: hidden;
}

.group {
  height: 100%;
  margin-top: 1rem;
  padding: 0 .3rem;
  .title {
    display: inline-block;
    font-size: .30rem;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #333;
    font-weight: normal;

  }
  .group-list {

    width: 100%;
    li {
      z-index: -20;
      margin: 0.15rem 0.18rem 0.15rem 0;
      border-bottom: 0.01rem solid #f4f4f4;
      width: 90%;
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
      .content {
        display: inline-block;
        width: 60%;
        padding: 0 0.15rem;
        font-size: 0.28rem;
        height: 0.6rem;
        line-height: 0.6rem;
        float: left;
        overflow: hidden;
        z-index: 0;
      }
      .group-img {
        float: left;
        display: block;
        width: 0.6rem;
        height: 0.6rem;
      }
      .person-num {
        color: #999;
        width: 15%;
        height: 0.6rem;
        line-height: 0.6rem;
        overflow: hidden;
        font-size: 0.24rem;
        display: block;
        float: right;
      }
      .describe {
        display: block;
        float: left;
        color: #999;
        font-size: 0.24rem;
        line-height: 0.6rem;
        height: 0.6rem;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .more {
      width: 90%;
      display: block;
      height: 0.6rem;
      line-height: 0.6rem;
      text-align: center;
      font-size: 0.24rem;
      color: #42bd56;
      border-bottom: 0.01rem solid #f4f4f4;
    }
  }
}