.search{
  width: 100%;
  height: 100%;

  .close{
    position: absolute;
    top:.35rem;
    left:.3rem;
    color: #42bd56;
    font-size:.28rem;
  }

  form{
    border-bottom: 1px solid #f3f3f3;
    padding: .3rem .3rem .3rem 1rem;

    div{
      display: block;
      background: #F3F3F3;

      .query{
        box-sizing: border-box;
        -webkit-appearance: none;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAA0CAYAAADFeBvrAAAABGdBT…B/WBsUDu2HQ0ND33Ou41KOTpsm51SVYEZHR3cN/5Pq/wfEdlFyq1lD2AAAAABJRU5ErkJggg==) no-repeat 50% #f3f3f3 ;
        background-size:.2rem;
        border-radius:.06rem;
        width: 100%;
        height: .5rem;
        font-size: .25rem;
      }
    }
  }

  ul{
    padding-top:.5rem;
    overflow: hidden;
    display: flex;

    li{
      width: 33.33%;

      div{
        float: left;
        position: relative;
        left: 50%;
        top: 0;

        a{
          display: block;
          margin-bottom: .3rem;
          position: relative;
          left: -50%;
          top: 0;
          text-align: center;

          strong{
            display: block;
            font-weight: 400;
            font-size: .4rem;
            line-height: .5rem;
            color:rgb(35,132,232);
          }
          span{
            display: block;
            color: #999;
            height: .4rem;
            font-size: .2rem;
            letter-spacing: .02rem;
          }

        }
      }
    }
  }

  .navBottom{
    width: 100%;
    border-bottom: 1px solid  #f3f3f3;

   .nav-item{
     border-top: 1px solid #f3f3f3;
     padding: 13px 0;

     a:first-child{
       border-right: 1px solid #e5e5e5;
     }
     a{
       width: 50%;
       display: inline-block;
       box-sizing: border-box;
       margin: 0 auto;
       text-align: center;
       font-size: .25rem;
       color: #42bd56;
     }
   }
  }

}