.page {
  width: 100%;
  box-sizing: border-box;
  background: #f7f7f7;
  height: 100%;
  padding-top: .94rem;
  padding-bottom: 1.86rem;
  margin: 0 auto;
  overflow-x: hidden;
  z-index: 200;

  .personal {
    height: 2.28rem;
    margin-bottom: .3rem;
    background: rgba(0, 0, 0, 0.5) no-repeat;

    .bd {
      height: 100%;
      background: #5C5C5C;

      .jpg {
        float: left;
        width: 1.4rem;
        height: 1.4rem;
        margin: .4rem 0 0 .4rem;
        border-radius: 100%;
        border: .04rem solid #fff;

      }

      .detail-2 {
        height: 100%;
        margin-left: 2.12rem;
        color: #fff;
        font-size: .26rem;

        .basic-info {
          position: relative;
          padding-top: 1rem;

          .id {
            display: block;
            font-size: .24rem;
            line-height: 1.65;
          }

          a {
            display: block;
            color: #fff;
            position: absolute;
            right: .86rem;
            bottom: .04rem;
          }
        }

        .relationship {
          margin-top: .3rem;

          a {
            color: #fff;
            margin-right: .4rem;
          }
        }
      }
    }


  }

  .collection-2 {
    background: #fff;
    overflow: hidden;
    .item {
      width: 25%;
      height: 2rem;
      text-align: center;
      float: left;
      a {
        font-size: .26rem;
        color: #9b9b9b;
        img{
          display: block;
          margin: .6rem auto .2rem;
          width: .52rem;
          height: .52rem;
        }
      }

    }
  }
}